<ul class="cities">
<% for city in @cities do -%>
  <li class="city"><div class="city"><%=h city.city %></div><div class="country"><span class="informal"><%= CountryCode.find_country( city ) %> - <%=h city.country %> - <%= UsStateCode.find_state( city ) if city.country == 'us' %></span></div></li>
<% end -%>
</ul>
