<html>
  <head>
    <title>Search for a City</title>
    <%= javascript_include_tag :defaults %>
  </head>

	<h1>Search for a City</h1>
	
	<form action="/city_global_locations/search_for" method="get">
	
	  <p>
	    country<br />
		<%= select("city_global_location", "country", CountryCode.find(:all).collect {|o| [ o.name, o.code.downcase ] },
					{ :include_blank => true } ) %>
	  </p>
	  <p>
	    city<br />
	    
	
	  	<%= text_field_with_auto_complete :city_global_location, :city, {}, { 
																		:frequency => 0.5, 
																		:min_chars => 4, 
																		:method => :get} %>
	
	
	  </p>
	
	
	  <p>
	    <input id="search_submit" name="search_for" type="submit" value="Search" />
	  </p>
	</form>


	<%= link_to 'Back', city_global_locations_path %>
</html>