body {
  color: #070505;
  font: 10px / 150% Verdana, Arial, Sans-Serif;
  background-color: #dadfe4;
}

a {
  color: #090db3;
  text-decoration: underline;
  padding: 2px;
}

a:hover {
  color: #070505;
  background-color: #606870;
}

#content {
  background-color: #dadfe4;
  margin: auto auto auto;
  width: 600px;
  height: auto
} 

.titlebar {
	text-align: left;
	margin-bottom: 10px;
  width: auto;
  height: auto;
  background-color: #dadfe4;
  text-align: left;
  margin-right: 10px;
	display:inline;
	color: #993333;
	font-family: Georgia,'Times New Roman',serif;
	font-size: large;
	margin-bottom: 10px;
} 

.text {
  width: 600px;
  height: auto;
  background-color: #dadfe4;
  text-align: left;
  padding: 0px;
  margin: 0px;
  margin-right: 0px;
  color: inherit;
  float: left;
} 


.footer {
  width: 600px;
  text-align: center;
  font-family: monospace;
  font-size: 9px;
  margin: 0px;
  margin-top: 10px;
}

.footer a:link {
  color: #e3e3e3;
  font-size: inherit;
}

.slogan {
  font-size: 12px;
  font-family: monospace;
  margin: 0px;
  margin-top: 3px;
  text-transform: capitalize;
	float: right;
	display:inline;
	color: f20909;
} 


.text p.content {
  color: #e3e3e3;
  font-size: inherit;
} 


html > body > div#content > div.text > h1 {
  font-size: 12px;
} 




tr.odd {
  background: #ffffbb
}

tr.even {
  background: #f4f5cb;
}



.largetext {
    scrollbar-3dlight-color: #B0C4DE;
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-base-color: #8BA9CF;
    scrollbar-darkshadow-color: #436DA3;
    scrollbar-face-color: #34547E;
    scrollbar-highlight-color: #E6ECF4;
    scrollbar-shadow-color: #000000;
}

#us-state-codes{
  overflow-y: scroll; 
  height:600px; 
  width:300px
}

#country-codes{
  overflow-y: scroll; 
  height:600px; 
  width:300px
}

#country-codes > table{
  overflow-y: scroll; 
  height:600px; 
  width:285px
}

#tableSection{
  overflow-y:scroll; 
  height:200px;
}

#tableSection > table {
  border: 1;
  width:  400px; 
  height: 200px; 
}

#map {
  width: 700px; 
  height: 450px; 
}