<p>
  <b>Code:</b>
  <%=h @us_state_code.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @us_state_code.name %>
</p>


<%= link_to 'Edit', edit_us_state_code_path(@us_state_code) %> |
<%= link_to 'Back', us_state_codes_path %>
