<script type="text/javascript">
    function setfocus(a_field_id) {
        $(a_field_id).focus()
    }
</script>


<body  onload="setfocus('city_global_location_city');" / >
<table>
  <tr>
    <td>
      <div id="formSection">
        <fieldset>
          <legend>City Info</legend>
          <form id="cityForm">
            City: 

            <img id='auto_complete_spinner' src='/images/spinner.gif' style='display:none;' />
            <%= text_field_with_auto_complete :city_global_location, 
              :city,  
              { },  
              { 
                :method => :get,
                :skip_style => true,
                :indicator => 'auto_complete_spinner',
                :frequency => 1.0,
                :minchars => 1,
                :url => {:controller => 'city_global_locations', :action => 'auto_complete_for_city_global_location_city'},
                :after_update_element => 
                        "function (ele, value) {
                          $('state').value = Ajax.Autocompleter.extract_value( value, 'STATE').trim();
                          $('country').value = Ajax.Autocompleter.extract_value( value, 'COUNTRY').trim();
                          var city_searchable_field = Ajax.Autocompleter.extract_value( value, 'CITY').trim();
                          $('city_global_location_city').value = city_searchable_field;
                          var state_code = Ajax.Autocompleter.extract_value( value, 'STATE_CODE').trim();
                          var country_code = Ajax.Autocompleter.extract_value( value, 'COUNTRY_CODE').trim();
                          city_searchable_field = ( country_code == 'us' ) ? city_searchable_field+','+state_code+','+country_code
                                                                           : city_searchable_field+','+country_code;

                          $('city_global_location_city').value = city_searchable_field;
                                                } "
              } 
            %>
            <input type="button" name="lookupCoordForACity" value="Find a City" id="lookupCoordForACityButton"/>
            <input type="button" name="AddCity" value="Add City" id="addCityButton"/>
            <br />
            <label for="state">Region/State:</label>
            <input type="text" name="state" id="state" class="txt"  accesskey="p" />
            <br />
            <label for="country">Country:</label>
            <input type="text" name="country" id="country" class="txt"  />
            <br />
            <label for="population">Population:</label>
            <input type="text" name="population" id="population" class="txt"  />
            <br />
            <label for="longitude">Longitude:</label>
            <input type="text" name="longitude" id="longitude" class="txt"  />
            <br />
            <label for="latitude">Latitude:</label>
            <input type="text" name="latitude" id="latitude" class="txt"  />
          </form>
        </fieldset>
      </div>

    </td>
    <td>
      <div id="tableSection">
        <table>
          <tr id="cityHeader">
            <td>
              Delete
            </td>
            <td>
              City
            </td>
            <td>
              Region
              <br/>
              /State
            </td>
            <td>
              Country
            </td>
          </tr>
          <!-- Note: if tbody is not used, Safari adds new rows above the header -->
          <tbody id="cityTable">

          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <div id="map">
      </div>
    </td>
  </tr>
</table>
<div id="debug">
</div>
