<h1>Place Cities on the Map</h1>

<table>
  <tr>
    <td>
	    <div id="formSection">
	      <form id="cityForm">
	        City: <input type="text" name="city" id="city">
          <input type="button" name="lookupCoordForACity" value="Find a City" id="lookupCoordForACityButton"/>
          <input type="button" name="AddCity" value="Add City" id="addCityButton"/>
	        <br/>
	        Region/State: <input type="text" name="state" id="state">
	        <br/>
	        Country: <input type="text" name="country" id="country">
	        <br/>
	        Population: <input type="text" name="population" id="population">
	        <br/>
	        Longitude: <input type="text" name="longitude" id="longitude">
	        <br/>
	        Latitude: <input type="text" name="latitude" id="latitude">
	        <br/>
	      </form>
	    </div>
    </td>
    <td>
      <div id="tableSection">
				<table>
          <tr id="cityHeader">
            <td>
              Delete
            </td>
            <td>
              City
            </td>
            <td>
              Region
              <br/>
              /State
            </td>
            <td>
              Longitude
            </td>
            <td>
              Latitude
            </td>
          </tr>
          <!-- Note: if tbody is not used, Safari adds new rows above the header -->
          <tbody id="cityTable">

          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <div id="map">
      </div>
    </td>
  </tr>
</table>
<div id="debug">
</div>
