<h1>Place Cities on the Map and Rule the world !!</h1>

<table>
  <tr>
    <td>
	    <div id="formSection">
	      <form id="cityForm">
	        City: 

        	<img id='auto_complete_spinner' src='/images/spinner.gif' style='display:none;' />
        	<%= text_field_with_auto_complete :city_global_location, 
        	:city,  
        	{
					},  
        	{ 
        		:method => :get,
        		:skip_style => true,
        		:indicator => 'auto_complete_spinner',
			:url => {:controller => 'city_global_locations', :action => 'auto_complete_for_city_global_location_city'}
        	} 
        	%>
          <input type="button" name="lookupCoordForACity" value="Find a City" id="lookupCoordForACityButton"/>
          <input type="button" name="AddCity" value="Add City" id="addCityButton"/>
	        <br/>
	        Region/State: <input type="text" name="state" id="state" size="10">
	        <br/>
	        Country: <input type="text" name="country" id="country" size="10">
	        <br/>
	        Population: <input type="text" name="population" id="population" size="10">
	        <br/>
	        Longitude: <input type="text" name="longitude" id="longitude" size="10">
	        <br/>
	        Latitude: <input type="text" name="latitude" id="latitude" size="10">
	        <br/>
	      </form>
	    </div>
    </td>
    <td>
      <div id="tableSection">
				<table>
          <tr id="cityHeader">
            <td>
              Delete
            </td>
            <td>
              City
            </td>
            <td>
              Region
              <br/>
              /State
            </td>
            <td>
              Country
            </td>
          </tr>
          <!-- Note: if tbody is not used, Safari adds new rows above the header -->
          <tbody id="cityTable">

          </tbody>
        </table>
      </div>
    </td>
  </tr>
</table>
<table>
  <tr>
    <td>
      <div id="map">
      </div>
    </td>
  </tr>
</table>
<div id="debug">
</div>
